@using CoffeeSchedulingApp.Models.CoffeeModelsRepos;
@using CoffeeSchedulingApp.Models.InventoryModelsRepos;
@using CoffeeSchedulingApp.Models.UserModelsRepos;
@model InventoryViewModel;

<h2>Your Coffees</h2>
<table class="table">
    <tr>
        <th>CoffeeID</th>
        <th>Roaster</th>
        <th>Producer</th>
        <th>Country</th>
        <th>Region</th>
        <th>Variety</th>
        <th>Process</th>
        <th>Roast Date</th>
        <th>Days Rest Needed</th>
        <th>Ready To Drink</th>
        <th>Grams</th>
    </tr>

    @* @{int daysWorthOfCoffee = "Total grams coffee / Users AvgGramsPerDay"} *@
    @{
        int daysWorthOfCoffee;
    }

    @foreach (var coffee in @Model.ModelCoffees)
    {
        <tr>
            <td><a href=/Coffee/ViewCoffee/@coffee.CoffeeID>@coffee.CoffeeID</a></td>
            <td>@coffee.Roaster</td>
            <td>@coffee.Producer</td>
            <td>@coffee.Country</td>
            <td>@coffee.Region</td>
            <td>@coffee.Variety</td>
            <td>@coffee.Process</td>
            <td>@coffee.RoastDate.Date.Month/@coffee.RoastDate.Date.Day</td>
            <td>@coffee.DaysRestNeeded</td>
            <td>@(@coffee.ReadyToDrink == true ? "Yes" : "No")</td>
            <td>@coffee.Grams</td>
        </tr>
    }
</table>

<div style="display: block">
    <a href="/Coffee/InsertCoffee/">Enter a New Coffee</a>
</div>