@using CoffeeSchedulingApp.Models.CoffeeModelsRepos;
@model Coffee

<h3>@Model.Roaster @Model.Producer Information</h3>
<table class="table">
    <tr>
        <th>CoffeeID</th>
        <th>Roaster</th>
        <th>Producer</th>
        <th>Country</th>
        <th>Region</th>
        <th>Variety</th>
        <th>Process</th>
        <th>Roast Date</th>
        <th>Days Rest Needed</th>
        <th>Ready To Drink</th>
        <th>Grams</th>
        <th>Archived</th>
    </tr>

    <tr>
        <td><a href=/Coffee/ViewCoffee/@Model.CoffeeID>@Model.CoffeeID</a></td>
        <td>@Model.Roaster</td>
        <td>@Model.Producer</td>
        <td>@Model.Country</td>
        <td>@Model.Region</td>
        <td>@Model.Variety</td>
        <td>@Model.Process</td>
        <td>@Model.RoastDate.ToString("MM/d")</td>
        <td>@Model.DaysRestNeeded</td>
        <td>@(@Model.ReadyToDrink ? "Yes" : "No")</td>
        <td>@Model.Grams</td>
        <td>@(@Model.IsArchived ? "Yes" : "No")</td>
    </tr>
    
</table>

<div style="display: block">
    <a href="/Coffee/UpdateCoffee/@Model.CoffeeID" class="btn btn-primary">Update this Coffee</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteCoffee", "Coffee", "Post"))
    {
        <input type="hidden" asp-for="CoffeeID" value="@Model.CoffeeID" />
        <input type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?')" value="Delete this Coffee" />
    }
</div>